{% extends 'users/base_for_profile.html' %}

{% load static %}

{% block css %}
    <link href="{% static '/assets/css/profile.css' %}" rel="stylesheet">
    <link href="{% static '/assets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
    <div class="container">
    <div class="row">
        <div class="col-lg-7">
            <h4 class="mt-3 mb-3">Profile</h4>
            <div class="col-lg-12 text-center">
                <img width="100" height="100"
                     src="{% if user.image %} {{ user.image.url }} {% else %} {% static '/assets/img/users/default_avatar.png' %} {% endif %}"
                     class="img-thumbnail">
            </div>
            <form action="{% url 'users:profile' %}" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="form-row">
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label class="small mb-1" for="{{ form.name.id_for_label }}">Name</label>
                            {{ form.first_name }}
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label class="small mb-1" for="{{ form.last_name.id_for_label }}">Surname</label>
                            {{ form.last_name }}
                        </div>
                    </div>
                </div>
                <div class="form-row mb-2">
                    <div class="col-lg-12">
                        <div class="custom-file">
                            <label class="small mb-1" for="{{ form.image.id_for_label }}">Avatar</label>
                            {{ form.image }}
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="col-lg-6">
                        <label class="small mb-1" for="{{ form.username.id_for_label }}">Username</label>
                        {{ form.username }}
                    </div>
                    <div class="col-lg-6">
                        <label class="small mb-1" for="{{ form.email.id_for_label }}">Email</label>
                        {{ form.email }}
                    </div>
                </div>
                <div class="form-row">
                    <div class="col-lg-12" style="margin-top: 33px;margin-bottom: 15px;">
                        <input class="btn btn-info btn-block" type="submit" value="Save">
                    </div>
                </div>
            </form>
            <form action="{% url 'shop' %}" method="get">
                <input class="btn btn-info btn-block" type="submit" value="Back to store" style="width:635px;height:40px;margin-bottom: 15px;">
            </form>
            <form action="{% url 'users:logout' %}" method="get">
                <input class="btn btn-info btn-block" type="submit" value="Logout" style="width:635px;height:40px">
            </form>
        </div>
        {% include 'shop/cart.html' %}
    </div>
{% endblock %}

{% block scripts %}
    <script src="{% static '/assets/vendor/jquery/jquery_.min.js' %}"></script>
    <script src="{% static '/assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <!-- FontAwesome script -->
    <script src="{% static '/assets/vendor/fontawesome/fontawesome-icons.js' %}" crossorigin="anonymous"></script>
{% endblock %}
